#
# MOBO
#

menuconfig MOBO
	tristate "Driver By MoBo"
	---help---
	  Dallas' 1-wire bus is useful to connect slow 1-pin devices
	  such as iButtons and thermal sensors.

	  If you want W1 support, you should say Y here.

	  This W1 support can also be built as a module.  If so, the module
	  will be called wire.
	  
if MOBO
source "drivers/mobo/led_switch/Kconfig"
source "drivers/mobo/ADC/Kconfig"
endif 
